In [93]:
def F(n):
    if n==0:
        return 0
    elif n==1:
        return 1
    else:
        return F(n-1)+F(n-2)
for i in range (0,11):
    print (F(i))
import numpy as np
j= np.asarray(F(i))
print(j)
j.reshape(-1,1)
for i in j:
    c=i[6]+i[10]
    print (c)

0
1
1
2
3
5
8
13
21
34
55
55

TypeError: iteration over a 0-d array

In [21]:
ls = [1,2,(12,15,6),2,"A",[1,2,3],True] #code to reverse the nested list
ls.reverse()
ls

[True, [1, 2, 3], 'A', 2, (12, 15, 6), 2, 1]

In [44]:
ls = [1,2,(12,15,6),2,"A",[1,2,3],True]
new=ls[::-1]
new

[True, [1, 2, 3], 'A', 2, (12, 15, 6), 2, 1]

In [45]:
for i in new:
    if i[n].count>1:
        i[n].reverse()
return i[n]

NameError: name 'n' is not defined

In [46]:
def Reverse(ls):
    new_list=ls[::-1]
    return new_list
ls = [1,2,(12,15,6),2,"A",[1,2,3],True]
print (Reverse(ls))

[True, [1, 2, 3], 'A', 2, (12, 15, 6), 2, 1]

In [55]:
data={'Team': ['SRH', 'CSK', 'KKR', 'RR', 'MI', 'RCB', 'KXIP', 'DD'],
                         'Matches': [14, 14, 14, 14, 14, 14, 14, 14],
                         'Won': [9, 9, 8, 7, 6, 6, 6, 5],
                         'Lost': [5, 5, 6, 7, 8, 8, 8, 9],
                         'Tied': [0, 0, 0, 0, 0, 0, 0, 0],
                         'N/R': [0, 0, 0, 0, 0, 0, 0, 0],
                         'Points': [18, 18, 16, 14, 12, 12, 12, 10],
                         'NRR': [0.284, 0.253, -0.070, -0.250, 0.317, 0.129, -0.502, -0.222],
                         'For': [2230, 2488, 2363, 2130, 2380, 2322, 2210, 2297],
                         'Against': [2193, 2433, 2425, 2141, 2282, 2383, 2259, 2304]}
#data=dict(zip(keys,values))
#print (data)

In [57]:
import pandas as pd
new=pd.DataFrame.from_dict(data)
new

   Team  Matches  Won  Lost  Tied  N/R  Points    NRR   For  Against
0   SRH       14    9     5     0    0      18  0.284  2230     2193
1   CSK       14    9     5     0    0      18  0.253  2488     2433
2   KKR       14    8     6     0    0      16 -0.070  2363     2425
3    RR       14    7     7     0    0      14 -0.250  2130     2141
4    MI       14    6     8     0    0      12  0.317  2380     2282
5   RCB       14    6     8     0    0      12  0.129  2322     2383
6  KXIP       14    6     8     0    0      12 -0.502  2210     2259
7    DD       14    5     9     0    0      10 -0.222  2297     2304

In [1]:
import numpy as np
df=new.groupby('Team')
print(df)

for i in df["Won"]:
    a=df["Won"].value_counts>6
    print (a)

NameError: name 'new' is not defined

In [2]:
def tri_recursion(k):
  if(k > 0):
    result = k + tri_recursion(k - 1)
    print(result)
  else:
    result = 0
  return result

print("\n\nRecursion Example Results")
tri_recursion(6)

Recursion Example Results
1
3
6
10
15
21

21